.userContentDiv, .postDiv{
    background: cadetblue;
    border: 1px solid black;
    margin: 5px;
}

.innerContent, .postDivContent {
    background: cyan;
    border: 1px solid black;
    margin: 3px;
}

.geo {
    background: darkgoldenrod;
    border: 1px solid black;
    margin: 3px;
}