.userContentDiv, .postDiv{
    background: cadetblue;
    border: 1px solid black;
    margin: 5px;
}

.innerContent, .postDivContent {
    background: cyan;
    border: 1px solid black;
    margin: 3px;
}

.geo, .comDiv{
    background: darkgoldenrod;
    border: 1px solid black;
    margin: 3px;
}

.button {
    background-color: darkgray;
    padding: 5px;
    margin: 10px;
    border: 1px solid red;
    border-radius: 5px;
}

     
.comDivNone {
    display: none;
}